# 4. Visualizing the most relevant MSc degrees

In [2]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [3]:
df = pd.read_csv("masters_dataset.csv")
df

,url,courseName,universityName,facultyName,fullTime,description,startDate,fees,modality,duration,city,country,administator
0,https://www.findamasters.com/masters-degrees/c...,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,True,3D visualisation and animation play a role in ...,September,FeesPlease see the university website for furt...,MSc,1 year full-time,Glasgow,United Kingdom,On Campus
1,https://www.findamasters.com/masters-degrees/c...,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,True,Businesses and governments rely on sound finan...,September,"FeesUK: £18,000 (Total)International: £34,750 ...",MSc,1 year full time,Leeds,United Kingdom,On Campus
2,https://www.findamasters.com/masters-degrees/c...,"Accounting, Accountability & Financial Managem...",King’s College London,King’s Business School,True,"Our Accounting, Accountability & Financial Man...",September,FeesPlease see the university website for furt...,MSc,1 year FT,London,United Kingdom,On Campus
3,https://www.findamasters.com/masters-degrees/c...,"Accounting, Financial Management and Digital B...",University of Reading,Henley Business School,True,Embark on a professional accounting career wit...,September,FeesPlease see the university website for furt...,MSc,1 year full time,Reading,United Kingdom,On Campus
4,https://www.findamasters.com/masters-degrees/c...,Addictions MSc,King’s College London,"Institute of Psychiatry, Psychology and Neuros...",True,Join us for an online session for prospective ...,September,FeesPlease see the university website for furt...,MSc,One year FT,London,United Kingdom,On Campus
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5300,https://www.findamasters.com/masters-degrees/c...,Materials and Manufacturing,Jonkoping University,Masters Programmes,True,Numerical methods and knowledge about the rela...,See Course,FeesPlease see the university website for furt...,MSc,2 Years Full Time,Jonkoping,Sweden,On Campus
5301,https://www.findamasters.com/masters-degrees/c...,Materials and Molecular Modelling MSc,University College London,Department of Chemistry,True,Register your interest in graduate study at UC...,September,"FeesFull time - £14,100",MSc,1 year full time,London,United Kingdom,On Campus
5302,https://www.findamasters.com/masters-degrees/c...,Materials Chemistry - MSc,University of Bradford,Faculty of Life Sciences,True,We provide a unique Master’s education in Mate...,September,FeesPlease see the university website for furt...,MSc,1 year full time,Bradford,United Kingdom,On Campus
5303,https://www.findamasters.com/masters-degrees/c...,Materials Chemistry MSc,University of Edinburgh,School of Chemistry,True,Programme descriptionMaterials Chemistry has e...,September,FeesTuition fees vary between degree programme...,MSc,1 year full-time,Edinburgh,United Kingdom,On Campus
5304,https://www.findamasters.com/masters-degrees/c...,Materials Engineering,University of Padua,School of Engineering,True,TheMaster's degree Materials Engineeringis an ...,October,FeesOur tuition fees will not exceed 2700 euro...,MSc,2 years,Padua,Italy,On Campus

In [4]:
interesting_cols = ["universityName","city","country"]
interesting_cols = ["city","country"]
# df[interesting_cols].drop_duplicates().to_csv("city_country.csv")

##### alternative approach

In [5]:
from geopy.geocoders import Nominatim

# geolocator = Nominatim(user_agent="geoapiExercises")
geolocator = Nominatim(user_agent="gettingCityCoords")
# from geopy.geocoders import Photon
# geolocator = Photon(user_agent="my-application")


def get_lat_lng(city, country):
   location = geolocator.geocode(f"{city}, {country}")
   if location:
       return location.latitude, location.longitude
   else:
       return None, None

cities = {
   1484: {"city": None, "country": None},
   1520: {"city": "Malmo", "country": "Sweden"},
   2067: {"city": "Egham", "country": "United Kingdom"},
   2325: {"city": "Cluj Napoca", "country": "Romania"},
   2742: {"city": "L Aquila", "country": "Italy"},
   3286: {"city": "Thessaloniki", "country": "Greece"},
   3289: {"city": "Naestved", "country": "Denmark"},
   3290: {"city": "Solna", "country": "Sweden"},
   3291: {"city": "Zurich", "country": "Switzerland"},
   3295: {"city": "Saarbrucken", "country": "Germany"},
   4515: {"city": "Luneburg", "country": "Germany"},
   4803: {"city": "Gottingen", "country": "Germany"},
   5130: {"city": "Besancon", "country": "France"},
   5131: {"city": "Frankfurt am Main", "country": "Germany"},
   5227: {"city": "Velp", "country": "Netherlands"},
   5375: {"city": "Blackburg", "country": "USA"},
   5395: {"city": "Astana", "country": "Kazakstan"},
   5428: {"city": "Freiburg", "country": "Germany"},
   5477: {"city": "St Catherines", "country": "Canada"},
}

for city_id, city_info in cities.items():
   lat, lng = get_lat_lng(city_info["city"], city_info["country"])
   city_info["lat"] = lat
   city_info["lng"] = lng

In [6]:
cities_df = pd.DataFrame(cities).T.reset_index()
cities_df.columns = ["city_id", "city", "country", "lat", "lng"]

cities_df = cities_df[["city", "country", "lat", "lng"]]
cities_df

                 city         country        lat        lng
0                 NaN             NaN  44.937967    7.54004
1               Malmo          Sweden  55.605293  13.000157
2               Egham  United Kingdom  51.431258  -0.547308
3         Cluj Napoca         Romania  46.769379  23.589954
4            L Aquila           Italy  42.136885  13.610341
5        Thessaloniki          Greece  40.640317  22.935272
6            Naestved         Denmark  55.232825   11.76741
7               Solna          Sweden  59.361367  18.001369
8              Zurich     Switzerland  47.374449   8.541042
9         Saarbrucken         Germany  49.234362   6.996379
10           Luneburg         Germany  53.248706  10.407855
11          Gottingen         Germany  51.532833   9.935181
12           Besancon          France  47.238022   6.024362
13  Frankfurt am Main         Germany  50.110644   8.682092
14               Velp     Netherlands  51.995867   5.975125
15          Blackburg             USA  35.226493 -89.875684
16             Astana       Kazakstan   51.12822  71.430668
17           Freiburg         Germany   47.99609     7.8494
18      St Catherines          Canada  46.192008 -63.297381

In [7]:
# read world cities, thanks to https://simplemaps.com/data/world-cities (we used this source :) )
worldcities = pd.read_csv("worldcities.csv", usecols=["city", "country", "lat","lng"])
worldcities

              city      lat       lng    country
0            Tokyo  35.6897  139.6922      Japan
1          Jakarta  -6.1750  106.8275  Indonesia
2            Delhi  28.6100   77.2300      India
3        Guangzhou  23.1300  113.2600      China
4           Mumbai  19.0761   72.8775      India
...            ...      ...       ...        ...
44686        Numto  63.6667   71.3333     Russia
44687         Nord  81.7166  -17.8000  Greenland
44688  Timmiarmiut  62.5333  -42.2167  Greenland
44689   San Rafael -16.7795  -60.6799    Bolivia
44690      Nordvik  74.0165  111.5100     Russia

[44691 rows x 4 columns]

In [8]:
city_mapping = {
    "United States" : "USA"
}

# def map_cities():
#     if

In [9]:
worldcities["country"] = worldcities["country"].apply(lambda row: "USA" if row == "United States" else row)
worldcities[worldcities["city"]=="New York"]

        city      lat      lng country
11  New York  40.6943 -73.9249     USA

In [10]:
additional_coordinates1_data = {
 ('Isafjorour', 'Iceland'): (-19.020835, 64.963051),
 ('Coleraine', 'United Kingdom'): (-6.750000, 54.733333),
 ('Clear Water Bay', 'Hong Kong'): (114.1095, 22.3964),
 ('Boras', 'Sweden'): (13.2764, 58.1102),
 ('Hull', 'United Kingdom'): (-0.3111, 53.7498),
 ('Cardiff', 'United Kingdom'): (-3.1791, 51.4816),
 ('St Andrews', 'United Kingdom'): (-2.4208, 56.3391),
 ('Stoke on Trent', 'United Kingdom'): (-1.8024, 52.9439),
 ('Swansea', 'United Kingdom'): (-3.9433, 51.6275),
 ('Linkoping', 'Sweden'): (15.6027, 58.4128),
 ('Jonkoping', 'Sweden'): (14.1420, 57.7951),
 ('St Cloud', 'USA'): (-94.2000, 45.5261),
 ('Washington DC', 'USA'): (-77.0369, 38.9072),
 ('Thuwal', 'Saudi Arabia'): (46.6370, 24.7114),
 ('Padua', 'Italy'): (11.8796, 45.4064)
}

In [11]:
additional_coordinates1 = pd.DataFrame(list(additional_coordinates1_data.items()), columns=['City-Country', 'Coordinates'])
additional_coordinates1[['city', 'country']] = pd.DataFrame(additional_coordinates1['City-Country'].tolist(), index=additional_coordinates1.index)
additional_coordinates1[['lng', 'lat']] = pd.DataFrame(additional_coordinates1['Coordinates'].tolist(), index=additional_coordinates1.index)
additional_coordinates1 = additional_coordinates1[["city","country","lng","lat"]]
additional_coordinates1

               city         country         lng        lat
0        Isafjorour         Iceland  -19.020835  64.963051
1         Coleraine  United Kingdom   -6.750000  54.733333
2   Clear Water Bay       Hong Kong  114.109500  22.396400
3             Boras          Sweden   13.276400  58.110200
4              Hull  United Kingdom   -0.311100  53.749800
5           Cardiff  United Kingdom   -3.179100  51.481600
6        St Andrews  United Kingdom   -2.420800  56.339100
7    Stoke on Trent  United Kingdom   -1.802400  52.943900
8           Swansea  United Kingdom   -3.943300  51.627500
9         Linkoping          Sweden   15.602700  58.412800
10        Jonkoping          Sweden   14.142000  57.795100
11         St Cloud             USA  -94.200000  45.526100
12    Washington DC             USA  -77.036900  38.907200
13           Thuwal    Saudi Arabia   46.637000  24.711400
14            Padua           Italy   11.879600  45.406400

In [12]:
worldcities = pd.concat([worldcities, additional_coordinates1, cities_df])
worldcities

             city        lat        lng      country
0           Tokyo    35.6897   139.6922        Japan
1         Jakarta     -6.175   106.8275    Indonesia
2           Delhi      28.61      77.23        India
3       Guangzhou      23.13     113.26        China
4          Mumbai    19.0761    72.8775        India
..            ...        ...        ...          ...
14           Velp  51.995867   5.975125  Netherlands
15      Blackburg  35.226493 -89.875684          USA
16         Astana   51.12822  71.430668    Kazakstan
17       Freiburg   47.99609     7.8494      Germany
18  St Catherines  46.192008 -63.297381       Canada

[44725 rows x 4 columns]

In [13]:
merged_df = pd.merge(left = df, right = worldcities, left_on=["city","country"], right_on=["city","country"], how="left")
merged_df

,url,courseName,universityName,facultyName,fullTime,description,startDate,fees,modality,duration,city,country,administator,lat,lng
0,https://www.findamasters.com/masters-degrees/c...,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,True,3D visualisation and animation play a role in ...,September,FeesPlease see the university website for furt...,MSc,1 year full-time,Glasgow,United Kingdom,On Campus,55.8611,-4.25
1,https://www.findamasters.com/masters-degrees/c...,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,True,Businesses and governments rely on sound finan...,September,"FeesUK: £18,000 (Total)International: £34,750 ...",MSc,1 year full time,Leeds,United Kingdom,On Campus,53.8003,-1.5497
2,https://www.findamasters.com/masters-degrees/c...,"Accounting, Accountability & Financial Managem...",King’s College London,King’s Business School,True,"Our Accounting, Accountability & Financial Man...",September,FeesPlease see the university website for furt...,MSc,1 year FT,London,United Kingdom,On Campus,51.5072,-0.1275
3,https://www.findamasters.com/masters-degrees/c...,"Accounting, Financial Management and Digital B...",University of Reading,Henley Business School,True,Embark on a professional accounting career wit...,September,FeesPlease see the university website for furt...,MSc,1 year full time,Reading,United Kingdom,On Campus,51.4542,-0.9731
4,https://www.findamasters.com/masters-degrees/c...,Addictions MSc,King’s College London,"Institute of Psychiatry, Psychology and Neuros...",True,Join us for an online session for prospective ...,September,FeesPlease see the university website for furt...,MSc,One year FT,London,United Kingdom,On Campus,51.5072,-0.1275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5620,https://www.findamasters.com/masters-degrees/c...,Materials and Manufacturing,Jonkoping University,Masters Programmes,True,Numerical methods and knowledge about the rela...,See Course,FeesPlease see the university website for furt...,MSc,2 Years Full Time,Jonkoping,Sweden,On Campus,57.7951,14.142
5621,https://www.findamasters.com/masters-degrees/c...,Materials and Molecular Modelling MSc,University College London,Department of Chemistry,True,Register your interest in graduate study at UC...,September,"FeesFull time - £14,100",MSc,1 year full time,London,United Kingdom,On Campus,51.5072,-0.1275
5622,https://www.findamasters.com/masters-degrees/c...,Materials Chemistry - MSc,University of Bradford,Faculty of Life Sciences,True,We provide a unique Master’s education in Mate...,September,FeesPlease see the university website for furt...,MSc,1 year full time,Bradford,United Kingdom,On Campus,53.8,-1.75
5623,https://www.findamasters.com/masters-degrees/c...,Materials Chemistry MSc,University of Edinburgh,School of Chemistry,True,Programme descriptionMaterials Chemistry has e...,September,FeesTuition fees vary between degree programme...,MSc,1 year full-time,Edinburgh,United Kingdom,On Campus,55.9533,-3.1892
5624,https://www.findamasters.com/masters-degrees/c...,Materials Engineering,University of Padua,School of Engineering,True,TheMaster's degree Materials Engineeringis an ...,October,FeesOur tuition fees will not exceed 2700 euro...,MSc,2 years,Padua,Italy,On Campus,45.4064,11.8796

In [14]:
nans = merged_df[merged_df["lat"].isnull() | merged_df["lng"].isnull()][["city","country","lat","lng"]].drop_duplicates()
print(len(nans[['city','country']]))
nans[['city','country']]

0

Empty DataFrame
Columns: [city, country]
Index: []

In [15]:
worldcities[worldcities["city"]=="New York"]
worldcities[worldcities["country"]=="Iceland"]
worldcities[worldcities["country"]=="Hong Kong"]
worldcities[worldcities["city"]=="Coleraine"]

worldcities[ worldcities['city'].isin(nans["city"])]['city']

Series([], Name: city, dtype: object)

In [18]:
# merged_df.to_csv("masters_courses_with_coords123123", index=False)
merged_df

,url,courseName,universityName,facultyName,fullTime,description,startDate,fees,modality,duration,city,country,administator,lat,lng
0,https://www.findamasters.com/masters-degrees/c...,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,True,3D visualisation and animation play a role in ...,September,FeesPlease see the university website for furt...,MSc,1 year full-time,Glasgow,United Kingdom,On Campus,55.8611,-4.25
1,https://www.findamasters.com/masters-degrees/c...,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,True,Businesses and governments rely on sound finan...,September,"FeesUK: £18,000 (Total)International: £34,750 ...",MSc,1 year full time,Leeds,United Kingdom,On Campus,53.8003,-1.5497
2,https://www.findamasters.com/masters-degrees/c...,"Accounting, Accountability & Financial Managem...",King’s College London,King’s Business School,True,"Our Accounting, Accountability & Financial Man...",September,FeesPlease see the university website for furt...,MSc,1 year FT,London,United Kingdom,On Campus,51.5072,-0.1275
3,https://www.findamasters.com/masters-degrees/c...,"Accounting, Financial Management and Digital B...",University of Reading,Henley Business School,True,Embark on a professional accounting career wit...,September,FeesPlease see the university website for furt...,MSc,1 year full time,Reading,United Kingdom,On Campus,51.4542,-0.9731
4,https://www.findamasters.com/masters-degrees/c...,Addictions MSc,King’s College London,"Institute of Psychiatry, Psychology and Neuros...",True,Join us for an online session for prospective ...,September,FeesPlease see the university website for furt...,MSc,One year FT,London,United Kingdom,On Campus,51.5072,-0.1275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5620,https://www.findamasters.com/masters-degrees/c...,Materials and Manufacturing,Jonkoping University,Masters Programmes,True,Numerical methods and knowledge about the rela...,See Course,FeesPlease see the university website for furt...,MSc,2 Years Full Time,Jonkoping,Sweden,On Campus,57.7951,14.142
5621,https://www.findamasters.com/masters-degrees/c...,Materials and Molecular Modelling MSc,University College London,Department of Chemistry,True,Register your interest in graduate study at UC...,September,"FeesFull time - £14,100",MSc,1 year full time,London,United Kingdom,On Campus,51.5072,-0.1275
5622,https://www.findamasters.com/masters-degrees/c...,Materials Chemistry - MSc,University of Bradford,Faculty of Life Sciences,True,We provide a unique Master’s education in Mate...,September,FeesPlease see the university website for furt...,MSc,1 year full time,Bradford,United Kingdom,On Campus,53.8,-1.75
5623,https://www.findamasters.com/masters-degrees/c...,Materials Chemistry MSc,University of Edinburgh,School of Chemistry,True,Programme descriptionMaterials Chemistry has e...,September,FeesTuition fees vary between degree programme...,MSc,1 year full-time,Edinburgh,United Kingdom,On Campus,55.9533,-3.1892
5624,https://www.findamasters.com/masters-degrees/c...,Materials Engineering,University of Padua,School of Engineering,True,TheMaster's degree Materials Engineeringis an ...,October,FeesOur tuition fees will not exceed 2700 euro...,MSc,2 years,Padua,Italy,On Campus,45.4064,11.8796

In [29]:
merged_df_head = merged_df.loc[:10,:]
merged_df_head

,url,courseName,universityName,facultyName,fullTime,description,startDate,fees,modality,duration,city,country,administator,lat,lng
0,https://www.findamasters.com/masters-degrees/c...,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,True,3D visualisation and animation play a role in ...,September,FeesPlease see the university website for furt...,MSc,1 year full-time,Glasgow,United Kingdom,On Campus,55.8611,-4.25
1,https://www.findamasters.com/masters-degrees/c...,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,True,Businesses and governments rely on sound finan...,September,"FeesUK: £18,000 (Total)International: £34,750 ...",MSc,1 year full time,Leeds,United Kingdom,On Campus,53.8003,-1.5497
2,https://www.findamasters.com/masters-degrees/c...,"Accounting, Accountability & Financial Managem...",King’s College London,King’s Business School,True,"Our Accounting, Accountability & Financial Man...",September,FeesPlease see the university website for furt...,MSc,1 year FT,London,United Kingdom,On Campus,51.5072,-0.1275
3,https://www.findamasters.com/masters-degrees/c...,"Accounting, Financial Management and Digital B...",University of Reading,Henley Business School,True,Embark on a professional accounting career wit...,September,FeesPlease see the university website for furt...,MSc,1 year full time,Reading,United Kingdom,On Campus,51.4542,-0.9731
4,https://www.findamasters.com/masters-degrees/c...,Addictions MSc,King’s College London,"Institute of Psychiatry, Psychology and Neuros...",True,Join us for an online session for prospective ...,September,FeesPlease see the university website for furt...,MSc,One year FT,London,United Kingdom,On Campus,51.5072,-0.1275
5,https://www.findamasters.com/masters-degrees/c...,Advanced Chemical Engineering - MSc,University of Leeds,School of Chemical and Process Engineering,True,The Advanced Chemical Engineering MSc at Leeds...,September,"FeesUK: £13,750 (Total)International: £31,000 ...",MSc,1 year full time,Leeds,United Kingdom,On Campus,53.8003,-1.5497
6,https://www.findamasters.com/masters-degrees/c...,Advanced Master in Financial Markets,Solvay Brussels School,Economics and Management,True,Programme overviewThe Advanced Master in Finan...,September,Fees18.000 €,"MA,MSc,Other,Pre-Masters,Masters Module",1 year,Brussels,Belgium,On Campus,50.8467,4.3525
7,https://www.findamasters.com/masters-degrees/c...,Advanced Master in Innovation & Strategic Mana...,Solvay Brussels School,Economics and Management,True,Programme overviewThe Advanced Master in Innov...,September,Fees18.000 €,"MA,MSc,Other,Masters Module,Pre-Masters",10 months,Brussels,Belgium,On Campus,50.8467,4.3525
8,https://www.findamasters.com/masters-degrees/c...,Advanced Physiotherapy Practice - MSc,Glasgow Caledonian University,School of Health and Life Sciences,True,Progress your career as a physiotherapist with...,"January, September",FeesPlease see the university website for furt...,MSc,1 Year Full Time / 2-3 Years Part Time,Glasgow,United Kingdom,On Campus,55.8611,-4.25
9,https://www.findamasters.com/masters-degrees/c...,Agricultural Sciences - MSc (Agriculture and F...,University of Helsinki,International Masters Degree Programmes,True,Goal of the pro­grammeWould you like to be inv...,September,FeesTuition fee per year (non-EU/EEA students)...,MSc,2 years,Helsinki,Finland,On Campus,60.1708,24.9375
10,https://www.findamasters.com/masters-degrees/c...,"Agricultural, Environmental and Resource Econo...",University of Helsinki,International Masters Degree Programmes,True,Goal of the pro­grammeAre you looking forward ...,September,FeesTuition fee per year (non-EU/EEA students)...,MSc,2 years,Helsinki,Finland,On Campus,60.1708,24.9375

In [137]:
import pandas as pd
import geopandas as gpd
import folium
from folium.plugins import PolyLineTextPath
from geopy.distance import geodesic

masters_with_lng_lat = pd.read_csv("masters_dataset" + ".csv")
query_result = masters_with_lng_lat.head(10)
def add_coords(query_result):
   return query_result
def beautify(query_result):
   def enum_it_to_txt(li):
    res = ""
    for i,line in enumerate(li):
        res += str(i+1) + ". " + line + "\n\\\\\\\\\\\n"
    return res

   essential_information = query_result.copy()
   essential_information.loc[:,"essential_description"] = essential_information.apply( lambda row: str(" - ".join(row[['courseName','fees']])) , axis=1 )
   # essential_information.loc[:,"essential_description"] = essential_information.apply( lambda row: str(" - ".join(row[['universityName','facultyName','courseName','fees']])) , axis=1 )
   essential_information = essential_information[["lng","lat","essential_description"]]
   essential_information = pd.DataFrame(essential_information.groupby(['lng','lat'])['essential_description'].apply(list).reset_index())
   essential_information["sharingSamePosition"] = essential_information.apply(lambda row : len(row["essential_description"]), axis=1)
   essential_information["essential_description"] = essential_information.apply(lambda row : enum_it_to_txt(row["essential_description"]), axis=1)
   return essential_information

query_result = add_coords(query_result)
query_result = beautify(query_result)




gdf = gpd.GeoDataFrame(query_result, geometry=gpd.points_from_xy(query_result.lng, query_result.lat))

# Create a Folium map centered at the mean location of the universities
m = folium.Map(location=[query_result.loc[1,'lat'], query_result.loc[1,'lng']], zoom_start=7)

# Add a marker for each university
for index, row in gdf.iterrows():
   # print(index)
   # print(row)
   folium.Marker([row['lat'], row['lng']], popup=row['essential_description']).add_to(m)

# Adding markers to the map and calculating distances
for i in range(len(gdf)):
   for j in range(i+1, len(gdf)):
  # Drawing a polyline with text
      locations=[(gdf.loc[i, 'lat'], gdf.loc[i, 'lng']), (gdf.loc[j, 'lat'], gdf.loc[j, 'lng'])]
      # print(locations)
      distance = geodesic(locations[0], locations[1]).km
      folium.PolyLine(
         locations=locations,
         color='red',
         weight=1,
         opacity=0.5
      ).add_to(m)

      # PolyLineTextPath(
      #    m,
      #    locations=locations,
      #    color='blue',
      #    text='hello',
      #    repeat=True,
      #    offset=5,
      #    font_size=15,
      #    font_color='black',
      #    arrow_color='black',
      #    arrow_size=15,
      #    arrow_frequency=1000
      # ).add_to(m)


      # break
   # break

In [138]:
m

In [62]:
query_result[['universityName','facultyName','courseName','fees']]

,universityName,facultyName,courseName,fees
0,Glasgow Caledonian University,School of Engineering and Built Environment,3D Design for Virtual Environments - MSc,FeesPlease see the university website for furt...
1,University of Leeds,Leeds University Business School,Accounting and Finance - MSc,"FeesUK: £18,000 (Total)International: £34,750 ..."
2,King’s College London,King’s Business School,"Accounting, Accountability & Financial Managem...",FeesPlease see the university website for furt...
3,University of Reading,Henley Business School,"Accounting, Financial Management and Digital B...",FeesPlease see the university website for furt...
4,King’s College London,"Institute of Psychiatry, Psychology and Neuros...",Addictions MSc,FeesPlease see the university website for furt...
5,University of Leeds,School of Chemical and Process Engineering,Advanced Chemical Engineering - MSc,"FeesUK: £13,750 (Total)International: £31,000 ..."
6,Solvay Brussels School,Economics and Management,Advanced Master in Financial Markets,Fees18.000 €
7,Solvay Brussels School,Economics and Management,Advanced Master in Innovation & Strategic Mana...,Fees18.000 €
8,Glasgow Caledonian University,School of Health and Life Sciences,Advanced Physiotherapy Practice - MSc,FeesPlease see the university website for furt...
9,University of Helsinki,International Masters Degree Programmes,Agricultural Sciences - MSc (Agriculture and F...,FeesTuition fee per year (non-EU/EEA students)...

In [98]:
query_result = masters_with_lng_lat.head(10)
query_result.loc[:,"essential_description"] = query_result.apply( lambda row: str(" - ".join(row[['universityName','facultyName','courseName','fees']])) , axis=1 )
essential_information = query_result[["lng","lat","essential_description"]].copy()
essential_information

C:\Users\Daniel\AppData\Local\Temp/ipykernel_16376/2649175943.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  query_result.loc[:,"essential_description"] = query_result.apply( lambda row: str(" - ".join(row[['universityName','facultyName','courseName','fees']])) , axis=1 )

       lng      lat                              essential_description
0  -4.2500  55.8611  Glasgow Caledonian University - School of Engi...
1  -1.5497  53.8003  University of Leeds - Leeds University Busines...
2  -0.1275  51.5072  King’s College London - King’s Business School...
3  -0.9731  51.4542  University of Reading - Henley Business School...
4  -0.1275  51.5072  King’s College London - Institute of Psychiatr...
5  -1.5497  53.8003  University of Leeds - School of Chemical and P...
6   4.3525  50.8467  Solvay Brussels School - Economics and Managem...
7   4.3525  50.8467  Solvay Brussels School - Economics and Managem...
8  -4.2500  55.8611  Glasgow Caledonian University - School of Heal...
9  24.9375  60.1708  University of Helsinki - International Masters...

In [99]:
essential_information = pd.DataFrame(essential_information.groupby(['lng','lat'])['essential_description'].apply(list).reset_index())
essential_information.loc[0:"essential_description"]
# pd.DataFrame(essential_information.groupby(['lng','lat'])['essential_description'].apply(list))['essential_description']

       lng      lat                              essential_description
0  -4.2500  55.8611  [Glasgow Caledonian University - School of Eng...
1  -1.5497  53.8003  [University of Leeds - Leeds University Busine...
2  -0.9731  51.4542  [University of Reading - Henley Business Schoo...
3  -0.1275  51.5072  [King’s College London - King’s Business Schoo...
4   4.3525  50.8467  [Solvay Brussels School - Economics and Manage...
5  24.9375  60.1708  [University of Helsinki - International Master...

In [101]:
essential_information["sharingSamePosition"] = essential_information.apply(lambda row : len(row["essential_description"]), axis=1)
essential_information

,lng,lat,essential_description,sharingSamePosition
0,-4.2500,55.8611,[Glasgow Caledonian University - School of Eng...,2
1,-1.5497,53.8003,[University of Leeds - Leeds University Busine...,2
2,-0.9731,51.4542,[University of Reading - Henley Business Schoo...,1
3,-0.1275,51.5072,[King’s College London - King’s Business Schoo...,2
4,4.3525,50.8467,[Solvay Brussels School - Economics and Manage...,2
5,24.9375,60.1708,[University of Helsinki - International Master...,1

In [106]:
essential_information.loc[0,'essential_description']

['Glasgow Caledonian University - School of Engineering and Built Environment - 3D Design for Virtual Environments - MSc - FeesPlease see the university website for further information on fees for this course.',
 'Glasgow Caledonian University - School of Health and Life Sciences - Advanced Physiotherapy Practice - MSc - FeesPlease see the university website for further information on fees for this course.']

In [129]:
li = ['Glasgow Caledonian University - School of Engineering and Built Environment - 3D Design for Virtual Environments - MSc - FeesPlease see the university website for further information on fees for this course.',
 'Glasgow Caledonian University - School of Health and Life Sciences - Advanced Physiotherapy Practice - MSc - FeesPlease see the university website for further information on fees for this course.']
def enum_it_to_txt(list):
    res = ""
    for i,line in enumerate(li):
        res += str(i) + ". " + line + "\n\n"
    return res
enum_it_to_txt(li)

'0. Glasgow Caledonian University - School of Engineering and Built Environment - 3D Design for Virtual Environments - MSc - FeesPlease see the university website for further information on fees for this course.\n\n1. Glasgow Caledonian University - School of Health and Life Sciences - Advanced Physiotherapy Practice - MSc - FeesPlease see the university website for further information on fees for this course.\n\n'

In [108]:
# show map
m

In [23]:
import folium

# Create a map centered at a specific location
location = (47.550579, -121.981752)
map = folium.Map(location=location, zoom_start=13)

# Add a polyline to the map
folium.PolyLine(
   locations=[(47.550579, -121.981752), (48.550580, -122.981753)],
   color='red',
   weight=5,
   opacity=0.8
).add_to(map)

# Display the map
map

In [60]:
import folium

# Create a map centered at a specific location
location = (47.550579, -121.981752)
map = folium.Map(location=location, zoom_start=13)

df = query_result
# Add markers to the map with color and size encodings
for i in range(len(df)):
   # Calculate the color based on the course
   color = 'blue' if df.loc[i, 'courseName'] == 'Course 1' else 'green'

   # Calculate the size based on the fee
   size = 10 if i*20 < 100 else 20 if i*20 < 200 else 30

   folium.Marker(
       location=(df.loc[i, 'lat'], df.loc[i, 'lng']),
       icon=folium.Icon(color=color, icon='info-sign', prefix='fa'),
       popup=f'<i>Location {i+1}</i>',
       tooltip=f'Location {i+1}, Course: {df.loc[i, "courseName"]}, Fee: {df.loc[i, "fees"]}'
   ).add_to(map)

# Display the map
map

In [116]:
import folium

lng1 , lat1 = -4.25, 55.8611

# Create a map centered at the coordinates of the first location
m = folium.Map(location=[lat1, lng1], zoom_start=13)

# Add a marker for the first location with a tooltip
folium.Marker(
   location=[lat1, lng1],
   popup="Location 1",
   tooltip="Location 1"
).add_to(m)

# Add a marker for the second location with a tooltip
folium.Marker(
   location=[lat1, lng1],
   popup="Location 2",
   tooltip="Location 2"
).add_to(m)

# Display the map
m

In [117]:
import folium
location1=[lat1, lng1]
# Create a map centered at the coordinates of the first location
m = folium.Map(location=[lat1, lng1], zoom_start=13)

# Add a popup for the first location
folium.Popup(
  "Location 1",
  max_width=300
).add_to(m)

# Add a popup for the second location
folium.Popup(
  "Location 2",
  max_width=300
).add_to(m)

# Display the map
m

In [119]:
from folium import Map, Marker
from jinja2 import Template

class LatLngPopup(folium.MacroElement):
   """
   When one clicks on a Map that contains a LatLngPopup,
   a popup is shown that displays the latitude and longitude of the pointer.
   """
   _template = Template(u"""
           {% macro script(this, kwargs) %}
               var {{this.get_name()}} = L.popup();
               function latLngPop(e) {
               data = e.latlng.lat.toFixed(4) + "," + e.latlng.lng.toFixed(4);
                  {{this.get_name()}}
                      .setLatLng(e.latlng)
                      .setContent( "<br /><a href="+data+"> click </a>")
                      .openOn({{this._parent.get_name()}})
                  }
               {{this._parent.get_name()}}.on('click', latLngPop);

           {% endmacro %}
           """) # noqa

   def __init__(self):
       super(LatLngPopup, self).__init__()
       self._name = 'LatLngPopup'

# Create a map centered at the coordinates of the first location
m = folium.Map(location=[lat1, lng1], zoom_start=13)

# Add a LatLngPopup to the map
LatLngPopup().add_to(m)

# Add markers for the locations
Marker(location=[lat1, lng1], popup="Location 1").add_to(m)
Marker(location=[lat1, lng1], popup="Location 2").add_to(m)

# Display the map
m

### Getting University Coordinates using Nominatim

In [153]:
import requests
import json
from time import sleep

def get_coordinates(faculty):
    sleep(0.1)
    base_url = "https://nominatim.openstreetmap.org/search"
    params = {
        "q": faculty,
        "format": "json"
    }
    response = requests.get(base_url, params=params)
    data = response.json()
    if data:
        lat = data[0]['lat']
        lon = data[0]['lon']
        print(f"{faculty} :-: {lat}, {lon}")
        return (lat, lon)
    else:
        return (None, None)

faculty = "School of Engineering and Built Environment, Glasgow Caledonian University"
faculty = "Glasgow Caledonian University"
lat, lon = get_coordinates(faculty)
print(f"The coordinates of {faculty} are {lat}, {lon}")

Glasgow Caledonian University :-: 55.86746635, -4.250245389417843
The coordinates of Glasgow Caledonian University are 55.86746635, -4.250245389417843

In [147]:
query_result = masters_with_lng_lat.head(10)
query_result['univ_lat_lng'] = query_result.apply( lambda row: get_coordinates(row['universityName']), axis=1 )
query_result

C:\Users\Daniel\AppData\Local\Temp/ipykernel_16376/304739741.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  query_result['univ_lat_lng'] = query_result.apply( lambda row: get_coordinates(row['universityName']), axis=1 )

,url,courseName,universityName,facultyName,fullTime,description,startDate,fees,modality,duration,city,country,administator,lat,lng,univ_lat_lng
0,https://www.findamasters.com/masters-degrees/c...,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,True,3D visualisation and animation play a role in ...,September,FeesPlease see the university website for furt...,MSc,1 year full-time,Glasgow,United Kingdom,On Campus,55.8611,-4.2500,"(55.86746635, -4.250245389417843)"
1,https://www.findamasters.com/masters-degrees/c...,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,True,Businesses and governments rely on sound finan...,September,"FeesUK: £18,000 (Total)International: £34,750 ...",MSc,1 year full time,Leeds,United Kingdom,On Campus,53.8003,-1.5497,"(53.80677435, -1.5562877504739676)"
2,https://www.findamasters.com/masters-degrees/c...,"Accounting, Accountability & Financial Managem...",King’s College London,King’s Business School,True,"Our Accounting, Accountability & Financial Man...",September,FeesPlease see the university website for furt...,MSc,1 year FT,London,United Kingdom,On Campus,51.5072,-0.1275,"(51.5060001, -0.1121582948025203)"
3,https://www.findamasters.com/masters-degrees/c...,"Accounting, Financial Management and Digital B...",University of Reading,Henley Business School,True,Embark on a professional accounting career wit...,September,FeesPlease see the university website for furt...,MSc,1 year full time,Reading,United Kingdom,On Campus,51.4542,-0.9731,"(51.4404358, -0.9417618328736392)"
4,https://www.findamasters.com/masters-degrees/c...,Addictions MSc,King’s College London,"Institute of Psychiatry, Psychology and Neuros...",True,Join us for an online session for prospective ...,September,FeesPlease see the university website for furt...,MSc,One year FT,London,United Kingdom,On Campus,51.5072,-0.1275,"(51.5060001, -0.1121582948025203)"
5,https://www.findamasters.com/masters-degrees/c...,Advanced Chemical Engineering - MSc,University of Leeds,School of Chemical and Process Engineering,True,The Advanced Chemical Engineering MSc at Leeds...,September,"FeesUK: £13,750 (Total)International: £31,000 ...",MSc,1 year full time,Leeds,United Kingdom,On Campus,53.8003,-1.5497,"(53.80677435, -1.5562877504739676)"
6,https://www.findamasters.com/masters-degrees/c...,Advanced Master in Financial Markets,Solvay Brussels School,Economics and Management,True,Programme overviewThe Advanced Master in Finan...,September,Fees18.000 €,"MA,MSc,Other,Pre-Masters,Masters Module",1 year,Brussels,Belgium,On Campus,50.8467,4.3525,"(50.83916395, 4.3784968682636105)"
7,https://www.findamasters.com/masters-degrees/c...,Advanced Master in Innovation & Strategic Mana...,Solvay Brussels School,Economics and Management,True,Programme overviewThe Advanced Master in Innov...,September,Fees18.000 €,"MA,MSc,Other,Masters Module,Pre-Masters",10 months,Brussels,Belgium,On Campus,50.8467,4.3525,"(50.83916395, 4.3784968682636105)"
8,https://www.findamasters.com/masters-degrees/c...,Advanced Physiotherapy Practice - MSc,Glasgow Caledonian University,School of Health and Life Sciences,True,Progress your career as a physiotherapist with...,"January, September",FeesPlease see the university website for furt...,MSc,1 Year Full Time / 2-3 Years Part Time,Glasgow,United Kingdom,On Campus,55.8611,-4.2500,"(55.86746635, -4.250245389417843)"
9,https://www.findamasters.com/masters-degrees/c...,Agricultural Sciences - MSc (Agriculture and F...,University of Helsinki,International Masters Degree Programmes,True,Goal of the pro­grammeWould you like to be inv...,September,FeesTuition fee per year (non-EU/EEA students)...,MSc,2 years,Helsinki,Finland,On Campus,60.1708,24.9375,"(60.175648300000006, 24.953550020522073)"

In [154]:
university_coords = masters_with_lng_lat[['universityName']].drop_duplicates().copy()
university_coords['univ_lat_lng'] = university_coords.apply( lambda row: get_coordinates(row['universityName']), axis=1 )
university_coords

Glasgow Caledonian University :-: 55.86746635, -4.250245389417843
University of Leeds :-: 53.80677435, -1.5562877504739676
King’s College London :-: 51.5060001, -0.1121582948025203
University of Reading :-: 51.4404358, -0.9417618328736392
Solvay Brussels School :-: 50.83916395, 4.3784968682636105
University of Helsinki :-: 60.175648300000006, 24.953550020522073
University of Bradford :-: 53.7912775, -1.7666110188908903
University of Bath :-: 51.37658725, -2.323432593859133
University of Glasgow :-: 55.872315349999994, -4.289219112981823
University of Groningen :-: 53.21944155, 6.562986329174857
University of Strathclyde :-: 55.8618812, -4.241956565778082
University of Oulu :-: 65.05932770000001, 25.467357691873588
Imperial College London :-: 51.4989595, -0.17564069276310426
St Mary’s University, Twickenham :-: 51.4371611, -0.3361972
Northumbria University :-: 54.977755349999995, -1.607282403525396
University of Roehampton :-: 51.4485315, -0.24401071122664614
London Metropolitan University :-: 51.51771165, -0.08816256361773317
University of Sussex :-: 50.86796665, -0.08778899363132905
University of Greenwich :-: 51.4825423, -0.0066531
Harvard University :-: 42.36790855, -71.12678237443698
University of Evora :-: 38.573722950000004, -7.904564543265204
University for the Creative Arts :-: 51.2162625, -0.806056713153231
The New School :-: 40.73547915, -73.9970708835668
Trinity College Dublin :-: 53.34366745, -6.254444724511822
University of Edinburgh :-: 55.94407645, -3.1883735563964555
Ulster University :-: 55.00584965, -7.323088131481537
University College London :-: 51.52420305, -0.13300072425929543
University of Bordeaux :-: 44.83697265, -0.578070403772544
Liverpool John Moores University :-: 53.4086917, -2.969502219901786
EIT Food :-: 47.4743021, 19.061339
ESMT Berlin :-: 52.5152614, 13.401908655703892
University Canada West :-: 49.27491055, -123.13011626000483
The Hong Kong University of Science and Technology :-: 22.3358031, 114.2659087549023
Johns Hopkins University :-: 39.33020225, -76.62185357858337
University of Boras :-: 40.32854330000001, -3.5575852379839974
Hult International Business School :-: 51.5152219, -0.0676810282654535
University of Central Lancashire :-: 53.7637059, -2.708910381956861
University of San Francisco :-: 37.7793627, -122.45144734976836
Durham University :-: 36.00015569999999, -78.94422972195878
University of Sheffield :-: 53.3829963, -1.4775717
University College Dublin :-: 53.3068763, -6.224625093340977
University of Liverpool :-: 53.40724285, -2.965833661018871
University of Hull :-: 53.7710908, -0.3683905962694075
Northumbria University London :-: 51.5177926, -0.0778041
University of Portsmouth :-: 50.795245, -1.0935528683212405
MLA College :-: 52.370578, 4.8965964
University of Oxford :-: 33.6502899, -117.8281794
Radboud University :-: 51.82151725, 5.863403442541042
The American University of Paris :-: 48.86157955, 2.310659336706136
University of Nottingham Ningbo China :-: 29.802278, 121.55935633845053
University of Applied Sciences Europe :-: 52.5060988, 13.3787343
University of Dundee :-: 56.45796755, -2.9821483135375493
University of Buckingham :-: 51.995481850000004, -0.9912673194804595
University of Galway :-: 53.2936337, -9.075059919448318
New York University (New York) :-: 40.72914525, -73.99507565085935
University of Birmingham :-: 52.4522956, -1.9312856726008194
University of St Andrews :-: 56.3398198, -2.8117937053149826
Brunel University London :-: 51.5326092, -0.47404989072672915
Sheffield Hallam University :-: 53.38172635, -1.462795139475161
University of the West of England, Bristol :-: 51.50076785, -2.5503106339491204
Cardiff University :-: 51.4883511, -3.17749396163176
Bangor University :-: 53.2300234, -4.13008199555879
University of Leicester :-: 52.62169525, -1.1246945741832923
University of Northampton :-: 52.2312458, -0.8898806
University of Bristol :-: 51.4905582, -2.6304824978595356
Staffordshire University :-: 53.0016756, -2.270694218876779
Oxford Brookes University :-: 51.7549229, -1.2242411304246317
SOAS University of London :-: 51.5218979, -0.1288676341954016
University of Salford :-: 53.4886422, -2.2783094237220456
Abertay University :-: 56.4631526, -2.97467889452203
Birkbeck, University of London :-: 51.52184485, -0.13021550670673807
University of Derby :-: 52.937954700000006, -1.497999105195924
Kingston University :-: 51.403073899999995, -0.3032181426130893
Queen’s University Belfast :-: 54.58414875, -5.933721043274003
Robert Gordon University :-: 57.1187364, -2.139306576766816
University of Huddersfield :-: 53.6428959, -1.7781768079827107
London School of Economics and Political Science :-: 51.51426105, -0.11673351981492822
University of Southampton :-: 50.9354752, -1.3962847494297244
University of Exeter :-: 50.73693715, -3.534734858662963
University of Nottingham :-: 52.9387428, -1.2002956927457427
Cranfield University :-: 52.070415350000005, -0.6287932053178253
Teesside University :-: 54.57036085, -1.2350985277726934
Aberdeen University :-: 57.16452475, -2.1018363546621197
Lancaster University :-: 54.00975365, -2.7875727317728654
Coventry University :-: 52.4056372, -1.4997222676795412
Keele University :-: 53.0016756, -2.270694218876779
University of Cologne :-: 50.928044549999996, 6.928130514523661
University of Chester :-: 53.200264250000004, -2.8993188621319756
Bayes Business School :-: 51.5220541, -0.09037407429312483
Heriot-Watt University :-: 55.91029585, -3.323447514558347
City, University of London :-: 51.527658200000005, -0.1035244775461434
Swansea University :-: 51.6091578, -3.9793260955859626
University of Worcester :-: 42.26871855, -71.81294347730606
University of the West of Scotland :-: 55.872315349999994, -4.289219112981823
University of Suffolk :-: 52.0531808, 1.1641646814528457
Buckinghamshire New University :-: 51.62818595, -0.7535677268488475
Newcastle University :-: 54.98017505, -1.6146802127187847
York St John University :-: 53.9828768, -1.0762464005920434
St George’s, University of London :-: 51.4273617, -0.1749488
University of West London :-: 51.48953535, -0.3136103840521947
Canterbury Christ Church University :-: 51.2791874, 1.0903253466811516
University of Cumbria :-: 54.8908157, -2.9223991
University of Hertfordshire :-: 51.75174425, -0.23904979445944738
University of Gloucestershire :-: 52.067948799999996, -2.707140748035224
University of Wolverhampton :-: 52.5908309, -2.12755877919463
Aston University :-: 52.48620785, -1.888499150885147
University of Brighton :-: 50.81361615, 0.24785304229161031
Middlesex University :-: 51.590297050000004, -0.2296322094540291
University of Sunderland :-: 54.90438685, -1.3917922587224556
University of East Anglia :-: 52.622251, 1.2411579
Aberystwyth University :-: 52.41554955, -4.065054179671381
Cardiff Metropolitan University :-: 51.4960947, -3.2127615385866655
University of Limerick :-: 52.67325805, -8.569809653548548
Vrije Universiteit Brussel :-: 50.822552900000005, 4.395491480471453
KU Leuven :-: 50.80571285, 3.2915374489139757
IMT Atlantique :-: 48.360686799999996, -4.5716376049738425
University of Regensburg :-: 48.996434550000004, 12.093992833920659
Harper Adams University :-: 52.78025975, -2.4322511730575487
University of Stirling :-: 56.145115399999995, -3.917393804088662
Nottingham Trent University :-: 52.91163995, -1.1866026147428088
Birmingham City University :-: 52.4822706, -1.8888147987150585
Linköping University :-: 58.3977911, 15.57545441574208
University of Colorado Boulder :-: 40.011137149999996, -105.2470157043634
Università Cattolica del Sacro Cuore :-: 45.537861449999994, 10.224281265977462
Royal Agricultural University :-: 51.70822245, -1.9914303306487156
University of Pavia :-: 45.186926549999995, 9.156876823159685
Jonkoping University :-: 57.77802215, 14.162141018941803
University of Westminster :-: 51.5209064, -0.14007297426333493
University College Cork :-: 51.8947384, -8.4903073
Massey University :-: -36.73277025, 174.70289003576602
Wageningen University & Research :-: 51.98544495, 5.663212001137484
Writtle University College :-: 51.736208000000005, 0.4263975019465964
Rochester Institute of Technology USA :-: 43.08248835, -77.67291102378641
St. Cloud State University :-: 45.54781165, -94.15122845517467
George Washington University :-: 38.899893750000004, -77.04744828062584
SRH University Heidelberg :-: 49.41287065, 8.653157486720856
The University of Winnipeg :-: 49.8919189, -97.153265
Clemson University :-: 34.66869155, -82.83743475607795
Vytautas Magnus University :-: 54.8979407, 23.88453919504945
Xi’an Jiaotong-Liverpool University :-: 31.27217325, 120.73679031822311
University of Twente :-: 52.24332675, 6.850915739203856
University of Tartu :-: 58.38088965, 26.719647526956543
KAUST :-: 22.32237535, 39.11738351837985
University of East London :-: 51.544326350000006, 0.009709714615969586
University of Chichester :-: 50.8449436, -0.7740064130646287
Linnaeus University :-: 52.3685848, 4.8902006
New York Institute of Technology :-: 40.76984545, -73.98286901738166
Johannes-Kepler University Linz :-: 48.336093250000005, 14.320567380032873
Loughborough University London :-: 51.5483354, -0.0236239
Queen Mary University of London :-: 51.52492685, -0.03924405317429028
University of Padua :-: 45.4067383, 11.877393987150546
Aalto University :-: 60.1860789, 24.828102074406736
University of Bologna :-: 50.83904065, 12.92828972456397
Budapest University of Technology and Economics :-: 47.47844135, 19.057715354417404
Eotvos Lorand University :-: 47.4934799, 19.061899330588723
KTH Royal Institute of Technology :-: 59.2016758, 17.6203201
Université Côte d’Azur :-: 43.716066999999995, 7.264897360869565
University of Trento :-: -34.5973374, -58.4158872
EURECOM :-: 43.61437945, 7.071205705635185
University College Birmingham :-: 52.481672, -1.9061374380791707
Simmons University :-: 42.338935449999994, -71.1004318389973
nan :-: 46.3144754, 11.0480288
Maastricht University :-: 50.8444528, 5.6884711
Malmö University :-: 55.60888525, 12.993222489710192
ESCP Business School (London Campus) :-: 51.5549087, -0.19316768990269922
University College of Estate Management :-: 51.4532231, -0.9638108
Vrije Universiteit Amsterdam :-: 52.33396225, 4.865196500737312
Steinbeis University Berlin :-: 52.5093732, 13.47410593691955
The University of Manchester :-: 53.4863381, -2.263547283561194
University of Southern Denmark :-: 55.367853249999996, 10.42805340701966
University of Kent :-: 51.295015750000005, 1.0673010856199983
University of Salzburg :-: 47.7947829, 13.054159709492996
London School of Hygiene & Tropical Medicine :-: 51.5209537, -0.13037143644571766
Birmingham Newman University :-: 52.43411935, -1.9943107286222492
University of Zagreb :-: 45.8086055, 15.9702948
University of Rijeka :-: 45.33829, 14.4243918
University of Bremen :-: 53.107964550000005, 8.855664592828369
Emerson College :-: 51.09990155, 0.051608027279563304
Sabanci University :-: 40.8927159, 29.378633226358197
University of Amsterdam :-: 52.36813335, 4.889804155733945
Babes-Bolyai University :-: 46.7677836, 23.591976552323946
University of Turku :-: 60.456073149999995, 22.28640967697722
Politecnico di Milano :-: 45.048282549999996, 9.702161106086972
Universidad Politécnica de Madrid :-: 40.41034485, -3.6745603283650423
Leeds Trinity University :-: 53.8481537, -1.6450164550572741
University of Warwick :-: 52.3813073, -1.5639569481637439
Coventry University London :-: 51.5174192, -0.0776409
University of L’Aquila :-: 45.4600626, 9.194661601245926
Liverpool Hope University :-: 53.39122185, -2.892394914038255
University of Hamburg :-: 53.5641091, 9.994978875267606
De Montfort University :-: 52.630060900000004, -1.1398434074941486
University of Sunderland in London :-: 51.50014135000001, -0.014243203858161243
The American College of Greece :-: 38.003282049999996, 23.831720780678047
Czech University of Life Sciences Prague :-: 50.130175449999996, 14.373716262123626
GCU London :-: 51.51833575, -0.07195141548343553
Universität Koblenz-Landau :-: 49.20408035, 8.107255574426057
Karlsruhe Institute of Technology :-: 49.101853399999996, 8.433120159201868
Maynooth University :-: 53.3820615, -6.5988074
Aristotle University of Thessaloniki :-: 40.629729350000005, 22.959099468356932
Karolinska Institutet :-: 59.3515453, 18.0310658
Zurich University of Applied Sciences :-: 47.49684345, 8.72980716809498
Saarland University, Germany :-: 49.25428530000001, 7.04150707562534
University of Zurich :-: 47.49684345, 8.72980716809498
Loughborough University :-: 52.7626882, -1.2396365359627026
International School of Management :-: 51.489050950000006, 7.40627932790408
Audencia Business School :-: 47.2470088, -1.5526332154710927
University of Teramo :-: 33.64314015, -117.8401967439739
University of Milan :-: 45.4600626, 9.194661601245926
Royal College of Art :-: 51.5132495, -0.22872641639436697
London School of Business & Finance :-: 51.5178779, -0.11066759512857537
Engineering Institute of Technology :-: 8.7366516, 76.8347508
Grenoble Ecole de Management :-: 45.1899801, 5.713614816647709
Centre for Alternative Technology :-: 52.6230397, -3.8399604
University of Brescia :-: -11.95524655, -77.06851879454283
IHE Delft Institute for Water Education :-: 52.0089436, 4.3567749
Charité - Universitätsmedizin Berlin :-: 52.5299885, 13.34866394036122
Leuphana University Lüneburg :-: 53.2287819, 10.40147524887356
Pixel :-: 51.8937476, 8.2985108
NEOMA Business School :-: 49.46215825, 1.0640455300966503
Le Mans Université :-: 48.0171041, 0.1626348372776685
Nova School of Business and Economics :-: 38.67820265, -9.325944879263897
University of Applied Sciences, Bremen :-: 53.07237395, 8.793058350691691
The University of Law :-: 51.520537000000004, -0.13173725942856418
Royal Veterinary College :-: 51.5366813, -0.1342081
Neapolis University Pafos :-: 34.749421049999995, 32.42660454499132
Webster University :-: 48.2141267, 16.3829469
University of Passau :-: 48.567549549999995, 13.452108035985926
RWTH Aachen University :-: 50.7791645, 6.068920971222876
PFH Gottingen :-: 51.5390446, 9.9332318
Leiden University :-: 52.1572025, 4.485216803828298
Fulda University of Applied Sciences :-: 50.5650744, 9.685991642142039
Manchester Metropolitan University :-: 53.4697435, -2.2374093348484845
Goldsmiths, University of London :-: 51.4736302, -0.037246446695101076
University of the Arts London :-: 51.51768525, -0.11633584389344499
University of York :-: 53.9453903, -1.0314592943104675
Open University :-: 52.02453775, -0.7092748093945007
University of Lisbon :-: 38.75109295, -9.156203506379315
University of Haifa :-: 32.7609456, 35.02043482821519
WHU :-: 30.537354049999998, 114.36152031917142
University of Namur :-: 40.0367774, -75.34202332002798
Aalborg University :-: 57.015907049999996, 9.975308243557345
University West :-: 43.8158448, -91.2429308
Collegio Carlo Alberto :-: 44.9998325, 7.684702547536473
University of Gibraltar :-: 16.405685300000002, 120.59833260947963
University of Deusto :-: 43.3094825, -1.975686363584781
Cyprus University of Technology :-: 34.67640715, 33.0447843740061
TATA Institute of Social Sciences :-: 19.044281249999997, 72.91256070251694
Atlantic Technological University :-: 53.84965675, -9.30507210747157
York University (Canada) :-: 43.7739325, -79.49882245735296
Keck Graduate Institute :-: 34.0922142, -117.72352023657103
Asia Pacific University of Technology & Innovation (APU) :-: 3.05592175, 101.69985504838799
University of Hong Kong :-: 22.28269745, 114.13845499995571
Tampere University :-: 61.49412325, 23.779206777676293
Edinburgh Napier University :-: 55.93110635, -3.2093902303057424
Technion - Israel Institute of Technology :-: 32.7768128, 35.02254464999363
Capitol Technology University :-: 39.04698215, -76.85145270190938
Ecole Polytechnique :-: 48.7127874, 2.2107453
University of Tampa :-: 27.9473468, -82.46542380378125
University of Cyprus :-: 35.15988245, 33.37769506250004
Virginia Polytechnic Institute and State University :-: 37.22192675, -80.42728184013652
Hong Kong Baptist University :-: 22.33798795, 114.18262590878285
Fordham University :-: 40.8722825, -73.8948917141949
Saint Mary’s University, Canada :-: 44.63114815, -63.58014346185526
Nazarbayev University :-: 51.0904348, 71.39836834273265
University of Applied Sciences Northwestern Switzerland :-: 47.5647323, 7.606072
University of Nicosia :-: 35.1660481, 33.31494050863776
University of Southern California :-: 34.0218833, -118.28586662125
University of Western States :-: 45.5364678, -122.58003010340065
Pforzheim University :-: 48.8789607, 8.71669806165361
Mohamed Bin Zayed University of Artificial Intelligence :-: 24.4324903, 54.618379
Brock University :-: 43.11773545, -79.24985683064051
Kedge Business School :-: 44.7964286, -0.6008878036370602
Stockholm School of Economics :-: 56.9591273, 24.1076116
Université Paris Cité :-: 48.82959855, 2.381684300259244
King Stage :-: 47.728688000000005, -122.15058173251796
Ecole hotelière de Lausanne :-: 46.5351598, 6.657946834946555
Oregon State University :-: 44.56305595, -123.28392363395751

,universityName,univ_lat_lng
0,Glasgow Caledonian University,"(55.86746635, -4.250245389417843)"
1,University of Leeds,"(53.80677435, -1.5562877504739676)"
2,King’s College London,"(51.5060001, -0.1121582948025203)"
3,University of Reading,"(51.4404358, -0.9417618328736392)"
6,Solvay Brussels School,"(50.83916395, 4.3784968682636105)"
...,...,...
5581,King Stage,"(47.728688000000005, -122.15058173251796)"
5588,European School of Political and Social Scienc...,"(None, None)"
5590,Ecole hotelière de Lausanne,"(46.5351598, 6.657946834946555)"
5607,Harbour.Space University,"(None, None)"
5614,Oregon State University,"(44.56305595, -123.28392363395751)"

In [172]:
# university_coords.dropna(how="any").to_csv('university_coords_dropna.csv')

In [155]:
# university_coords.to_csv("university_cords.csv")

In [160]:
university_coords.loc[0,"univ_lat_lng"]
university_coords["lat"] = university_coords.apply( lambda row: row["univ_lat_lng"][0], axis = 1)
university_coords["lng"] = university_coords.apply( lambda row: row["univ_lat_lng"][1], axis = 1)
university_coords

,universityName,univ_lat_lng,lat,lng
0,Glasgow Caledonian University,"(55.86746635, -4.250245389417843)",55.86746635,-4.250245389417843
1,University of Leeds,"(53.80677435, -1.5562877504739676)",53.80677435,-1.5562877504739676
2,King’s College London,"(51.5060001, -0.1121582948025203)",51.5060001,-0.1121582948025203
3,University of Reading,"(51.4404358, -0.9417618328736392)",51.4404358,-0.9417618328736392
6,Solvay Brussels School,"(50.83916395, 4.3784968682636105)",50.83916395,4.3784968682636105
...,...,...,...,...
5581,King Stage,"(47.728688000000005, -122.15058173251796)",47.728688000000005,-122.15058173251796
5588,European School of Political and Social Scienc...,"(None, None)",None,None
5590,Ecole hotelière de Lausanne,"(46.5351598, 6.657946834946555)",46.5351598,6.657946834946555
5607,Harbour.Space University,"(None, None)",None,None
5614,Oregon State University,"(44.56305595, -123.28392363395751)",44.56305595,-123.28392363395751

In [167]:
# import pandas as pd

# Create a DataFrame
df = university_coords
# Use the isnull() function to create a boolean DataFrame where True indicates None values
null_df = df.isnull()

# Use the any() function to create a boolean Series where True indicates rows that contain at least one None value
any_null = null_df.any(axis=1)

# Use this boolean Series to filter the original DataFrame
filtered_df = df[any_null]

filtered_df

,universityName,univ_lat_lng,lat,lng
28,Fresenius University of Applied Sciences,"(None, None)",None,None
36,University Centre of the West Fjords,"(None, None)",None,None
129,Erasmus School of Economics,"(None, None)",None,None
137,Kuehne Logistics University - KLU,"(None, None)",None,None
141,Brunel University Online,"(None, None)",None,None
203,University of Essex Online,"(None, None)",None,None
204,The London Institute of Banking and Finance,"(None, None)",None,None
275,Emlyon Business School,"(None, None)",None,None
278,Berlin School of Business and Innovation,"(None, None)",None,None
321,Al-Maktoum College of Higher Education,"(None, None)",None,None
325,University of Derby Online Learning,"(None, None)",None,None
368,Learna | Diploma MSc,"(None, None)",None,None
774,University of the Highlands and Islands,"(None, None)",None,None
1074,Salzburg University of Applied Sciences,"(None, None)",None,None
1209,Hanze University of Applied Sciences,"(None, None)",None,None
1484,NaN,"(46.3144754, 11.0480288)",46.3144754,11.0480288
1922,University of Rennes 1,"(None, None)",None,None
1927,Professional Development International,"(None, None)",None,None
2067,"Royal Holloway, University of London","(None, None)",None,None
2565,"POLI.design, Società consortile a responsabili...","(None, None)",None,None
2761,Ritsumeikan Asia Pacific University,"(None, None)",None,None
2983,FH JOANNEUM University of Applied Sciences,"(None, None)",None,None
3193,Estonian University of Life Sciences,"(None, None)",None,None
3285,Sapienza University of Rome,"(None, None)",None,None
3287,Amsterdam University of Applied Sciences (AUAS),"(None, None)",None,None
3289,University College Absalon,"(None, None)",None,None
3317,INSEAD (Singapore Campus),"(None, None)",None,None
3500,Rheinland-Pfälzische Technische Universität of...,"(None, None)",None,None
4503,AFG College with the University of Aberdeen,"(None, None)",None,None
4635,Zhejiang Gongshan University,"(None, None)",None,None
4784,IU International University of Applied Sciences,"(None, None)",None,None
4794,SRH Berlin University of Applied Sciences,"(None, None)",None,None
4806,United Nations Institute for Training and Rese...,"(None, None)",None,None
5130,UBFC Graduate School EIPHI,"(None, None)",None,None
5131,Frankfurt School of Finance and Management,"(None, None)",None,None
5159,Luxembourg School of Business,"(None, None)",None,None
5164,HTW Berlin - University of Applied Sciences,"(None, None)",None,None
5227,"Van Hall Larenstein, University of Applied Sci...","(None, None)",None,None
5393,Pontifica Catholic University of Chile,"(None, None)",None,None
5428,Albert Ludwig University of Freiburg,"(None, None)",None,None
5431,The University of the Commonwealth Caribbean (...,"(None, None)",None,None
5480,Webster Vienna Private University,"(None, None)",None,None
5527,Università di Cassino e del Lazio Meridionale,"(None, None)",None,None
5578,NHH Norwegian School of Economics,"(None, None)",None,None
5588,European School of Political and Social Scienc...,"(None, None)",None,None
5607,Harbour.Space University,"(None, None)",None,None

In [171]:
df = masters_with_lng_lat[['universityName','lat','lng']]
# df = university_coords
# Use the isnull() function to create a boolean DataFrame where True indicates None values
null_df = df.isnull()

# Use the any() function to create a boolean Series where True indicates rows that contain at least one None value
any_null = null_df.any(axis=1)

# Use this boolean Series to filter the original DataFrame
filtered_df = df[any_null]

filtered_df

     universityName        lat      lng
1484            NaN  44.937967  7.54004
1543            NaN  44.937967  7.54004
2200            NaN  44.937967  7.54004
2313            NaN  44.937967  7.54004
2525            NaN  44.937967  7.54004
2526            NaN  44.937967  7.54004
2527            NaN  44.937967  7.54004
2674            NaN  44.937967  7.54004
3607            NaN  44.937967  7.54004
4020            NaN  44.937967  7.54004
4195            NaN  44.937967  7.54004
4259            NaN  44.937967  7.54004
4268            NaN  44.937967  7.54004
5344            NaN  44.937967  7.54004
5466            NaN  44.937967  7.54004

### Getting Faculty Coordinates using GOOGLE

In [ ]:
  import requests
  import json

  def get_coordinates(faculties):
      api_key = "YOUR_API_KEY"
      base_url = "https://maps.googleapis.com/maps/api/geocode/json"
      params = {
          "address": ",".join(faculties),
          "key": api_key
      }
      response = requests.get(base_url, params=params)
      data = response.json()
      coordinates = []
      for result in data['results']:
          lat = result['geometry']['location']['lat']
          lng = result['geometry']['location']['lng']
          coordinates.append((lat, lng))
      return coordinates

  faculties = ["School of Engineering and Built Environment, Glasgow Caledonian University", "Another Faculty, Another University"]
  coordinates = get_coordinates(faculties)
  for faculty, (lat, lng) in zip(faculties, coordinates):
      print(f"The coordinates of {faculty} are {lat}, {lng}")

# blue

In [10]:
import pandas as pd

In [11]:
uni_coords_df = pd.read_csv("uni_coords.csv")
uni_coords_df

                                        universityName        lat         lng
0                        Glasgow Caledonian University  55.867466   -4.250245
1                                  University of Leeds  53.806774   -1.556288
2                                King’s College London  51.506000   -0.112158
3                                University of Reading  51.440436   -0.941762
4                               Solvay Brussels School  50.839164    4.378497
..                                                 ...        ...         ...
317                                         King Stage  47.728688 -122.150582
318  European School of Political and Social Scienc...        NaN         NaN
319                        Ecole hotelière de Lausanne  46.535160    6.657947
320                           Harbour.Space University        NaN         NaN
321                            Oregon State University  44.563056 -123.283924

[322 rows x 3 columns]

In [20]:
uni_coords_df3 = uni_coords_df.copy()
uni_coords_df3['uni_lat'] = None
uni_coords_df3['city_lat'] = uni_coords_df['lat']
uni_coords_df3

,universityName,lat,lng,uni_lat,city_lat
0,Glasgow Caledonian University,55.867466,-4.250245,None,55.867466
1,University of Leeds,53.806774,-1.556288,None,53.806774
2,King’s College London,51.506000,-0.112158,None,51.506000
3,University of Reading,51.440436,-0.941762,None,51.440436
4,Solvay Brussels School,50.839164,4.378497,None,50.839164
...,...,...,...,...,...
317,King Stage,47.728688,-122.150582,None,47.728688
318,European School of Political and Social Scienc...,NaN,NaN,None,NaN
319,Ecole hotelière de Lausanne,46.535160,6.657947,None,46.535160
320,Harbour.Space University,NaN,NaN,None,NaN
321,Oregon State University,44.563056,-123.283924,None,44.563056

In [21]:
uni_coords_df3['latnew'] = uni_coords_df3.apply(lambda row: row['uni_lat'] if row['uni_lat'] else row['city_lat'] , axis=1)
uni_coords_df3

,universityName,lat,lng,uni_lat,city_lat,latnew
0,Glasgow Caledonian University,55.867466,-4.250245,None,55.867466,55.867466
1,University of Leeds,53.806774,-1.556288,None,53.806774,53.806774
2,King’s College London,51.506000,-0.112158,None,51.506000,51.506000
3,University of Reading,51.440436,-0.941762,None,51.440436,51.440436
4,Solvay Brussels School,50.839164,4.378497,None,50.839164,50.839164
...,...,...,...,...,...,...
317,King Stage,47.728688,-122.150582,None,47.728688,47.728688
318,European School of Political and Social Scienc...,NaN,NaN,None,NaN,NaN
319,Ecole hotelière de Lausanne,46.535160,6.657947,None,46.535160,46.535160
320,Harbour.Space University,NaN,NaN,None,NaN,NaN
321,Oregon State University,44.563056,-123.283924,None,44.563056,44.563056

In [22]:
uni_coords_df3['lngnew'] = uni_coords_df3.apply(lambda row: row['lng'] if row['lng'] else row['uni_lat'] , axis=1)
uni_coords_df3

,universityName,lat,lng,uni_lat,city_lat,latnew,lngnew
0,Glasgow Caledonian University,55.867466,-4.250245,None,55.867466,55.867466,-4.250245
1,University of Leeds,53.806774,-1.556288,None,53.806774,53.806774,-1.556288
2,King’s College London,51.506000,-0.112158,None,51.506000,51.506000,-0.112158
3,University of Reading,51.440436,-0.941762,None,51.440436,51.440436,-0.941762
4,Solvay Brussels School,50.839164,4.378497,None,50.839164,50.839164,4.378497
...,...,...,...,...,...,...,...
317,King Stage,47.728688,-122.150582,None,47.728688,47.728688,-122.150582
318,European School of Political and Social Scienc...,NaN,NaN,None,NaN,NaN,NaN
319,Ecole hotelière de Lausanne,46.535160,6.657947,None,46.535160,46.535160,6.657947
320,Harbour.Space University,NaN,NaN,None,NaN,NaN,NaN
321,Oregon State University,44.563056,-123.283924,None,44.563056,44.563056,-123.283924

In [16]:
len(uni_coords_df[~uni_coords_df.isnull().any(axis=1)]) + len(uni_coords_df[uni_coords_df.isnull().any(axis=1)])

322

In [5]:
master_df = pd.read_csv("masters_dataset.csv", usecols=['country','city','universityName'])
master_df

                     universityName       city         country
0     Glasgow Caledonian University    Glasgow  United Kingdom
1               University of Leeds      Leeds  United Kingdom
2             King’s College London     London  United Kingdom
3             University of Reading    Reading  United Kingdom
4             King’s College London     London  United Kingdom
...                             ...        ...             ...
5300           Jonkoping University  Jonkoping          Sweden
5301      University College London     London  United Kingdom
5302         University of Bradford   Bradford  United Kingdom
5303        University of Edinburgh  Edinburgh  United Kingdom
5304            University of Padua      Padua           Italy

[5305 rows x 3 columns]

In [6]:
masters_with_coords1 = pd.merge(left=master_df, right=uni_coords_df, how="left", left_on="universityName", right_on="universityName")
masters_with_coords1

,universityName,city,country,lat,lng
0,Glasgow Caledonian University,Glasgow,United Kingdom,55.867466,-4.250245
1,University of Leeds,Leeds,United Kingdom,53.806774,-1.556288
2,King’s College London,London,United Kingdom,51.506000,-0.112158
3,University of Reading,Reading,United Kingdom,51.440436,-0.941762
4,King’s College London,London,United Kingdom,51.506000,-0.112158
...,...,...,...,...,...
5300,Jonkoping University,Jonkoping,Sweden,57.778022,14.162141
5301,University College London,London,United Kingdom,51.524203,-0.133001
5302,University of Bradford,Bradford,United Kingdom,53.791277,-1.766611
5303,University of Edinburgh,Edinburgh,United Kingdom,55.944076,-3.188374
5304,University of Padua,Padua,Italy,45.406738,11.877394

In [15]:
missing_coords = masters_with_coords1[masters_with_coords1.isnull().any(axis=1)].drop_duplicates()
missing_coords['universityName'].to_csv("missing_coordinates2.csv", index=False)

In [23]:
missing_coords

,universityName,city,country,lat,lng
28,Fresenius University of Applied Sciences,Idstein,Germany,NaN,NaN
36,University Centre of the West Fjords,Isafjorour,Iceland,NaN,NaN
129,Erasmus School of Economics,Rotterdam,Netherlands,NaN,NaN
137,Kuehne Logistics University - KLU,Hamburg,Germany,NaN,NaN
141,Brunel University Online,London,United Kingdom,NaN,NaN
188,University of Essex Online,Colchester,United Kingdom,NaN,NaN
189,The London Institute of Banking and Finance,London,United Kingdom,NaN,NaN
260,Emlyon Business School,Lyon,France,NaN,NaN
263,Berlin School of Business and Innovation,Berlin,Germany,NaN,NaN
306,Al-Maktoum College of Higher Education,Dundee,United Kingdom,NaN,NaN
310,University of Derby Online Learning,Derby,United Kingdom,NaN,NaN
353,Learna | Diploma MSc,Cardiff,United Kingdom,NaN,NaN
748,University of the Highlands and Islands,Inverness,United Kingdom,NaN,NaN
1022,Salzburg University of Applied Sciences,Salzburg,Austria,NaN,NaN
1147,Hanze University of Applied Sciences,Groningen,Netherlands,NaN,NaN
1406,NaN,NaN,NaN,46.314475,11.048029
1829,University of Rennes 1,Rennes,France,NaN,NaN
1834,Professional Development International,London,United Kingdom,NaN,NaN
1958,"Royal Holloway, University of London",Egham,United Kingdom,NaN,NaN
2429,"POLI.design, Società consortile a responsabili...",Milan,Italy,NaN,NaN
2620,Ritsumeikan Asia Pacific University,Beppu,Japan,NaN,NaN
2840,FH JOANNEUM University of Applied Sciences,Kapfenberg,Austria,NaN,NaN
3041,Estonian University of Life Sciences,Tartu,Estonia,NaN,NaN
3123,Sapienza University of Rome,Rome,Italy,NaN,NaN
3125,Amsterdam University of Applied Sciences (AUAS),Amsterdam,Netherlands,NaN,NaN
3127,University College Absalon,Naestved,Denmark,NaN,NaN
3155,INSEAD (Singapore Campus),Singapore,Singapore,NaN,NaN
3327,Rheinland-Pfälzische Technische Universität of...,Kaiserslautern,Germany,NaN,NaN
4287,AFG College with the University of Aberdeen,Doha,Qatar,NaN,NaN
4415,Zhejiang Gongshan University,Hangzhou,China,NaN,NaN
4560,IU International University of Applied Sciences,Berlin,Germany,NaN,NaN
4570,SRH Berlin University of Applied Sciences,Berlin,Germany,NaN,NaN
4582,United Nations Institute for Training and Rese...,Geneva,Switzerland,NaN,NaN
4889,UBFC Graduate School EIPHI,Besancon,France,NaN,NaN
4890,Frankfurt School of Finance and Management,Frankfurt am Main,Germany,NaN,NaN
4918,Luxembourg School of Business,Luxembourg,Luxembourg,NaN,NaN
4923,HTW Berlin - University of Applied Sciences,Berlin,Germany,NaN,NaN
4986,"Van Hall Larenstein, University of Applied Sci...",Velp,Netherlands,NaN,NaN
5081,Pontifica Catholic University of Chile,Santiago,Chile,NaN,NaN
5116,Albert Ludwig University of Freiburg,Freiburg,Germany,NaN,NaN
5119,The University of the Commonwealth Caribbean (...,Kingston,Jamaica,NaN,NaN
5164,Webster Vienna Private University,Vienna,Austria,NaN,NaN
5207,Università di Cassino e del Lazio Meridionale,Cassino,Italy,NaN,NaN
5258,NHH Norwegian School of Economics,Bergen,Norway,NaN,NaN
5268,European School of Political and Social Scienc...,Lille,France,NaN,NaN
5287,Harbour.Space University,Barcelona,Spain,NaN,NaN

In [26]:
master_df_complete = pd.read_csv("masters_dataset.csv")
master_df_complete
master_df_complete[master_df_complete['universityName'].isnull()]

,url,courseName,universityName,facultyName,fullTime,description,startDate,fees,modality,duration,city,country,administator
1406,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1464,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2082,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2191,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2390,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2391,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2392,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2534,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3433,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3825,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3987,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4048,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4057,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5032,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5150,https://www.findamasters.com/masters-degrees/c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

city country coordinates

In [31]:
missing_coords

,universityName,city,country,lat,lng
28,Fresenius University of Applied Sciences,Idstein,Germany,NaN,NaN
36,University Centre of the West Fjords,Isafjorour,Iceland,NaN,NaN
129,Erasmus School of Economics,Rotterdam,Netherlands,NaN,NaN
137,Kuehne Logistics University - KLU,Hamburg,Germany,NaN,NaN
141,Brunel University Online,London,United Kingdom,NaN,NaN
188,University of Essex Online,Colchester,United Kingdom,NaN,NaN
189,The London Institute of Banking and Finance,London,United Kingdom,NaN,NaN
260,Emlyon Business School,Lyon,France,NaN,NaN
263,Berlin School of Business and Innovation,Berlin,Germany,NaN,NaN
306,Al-Maktoum College of Higher Education,Dundee,United Kingdom,NaN,NaN
310,University of Derby Online Learning,Derby,United Kingdom,NaN,NaN
353,Learna | Diploma MSc,Cardiff,United Kingdom,NaN,NaN
748,University of the Highlands and Islands,Inverness,United Kingdom,NaN,NaN
1022,Salzburg University of Applied Sciences,Salzburg,Austria,NaN,NaN
1147,Hanze University of Applied Sciences,Groningen,Netherlands,NaN,NaN
1406,NaN,NaN,NaN,46.314475,11.048029
1829,University of Rennes 1,Rennes,France,NaN,NaN
1834,Professional Development International,London,United Kingdom,NaN,NaN
1958,"Royal Holloway, University of London",Egham,United Kingdom,NaN,NaN
2429,"POLI.design, Società consortile a responsabili...",Milan,Italy,NaN,NaN
2620,Ritsumeikan Asia Pacific University,Beppu,Japan,NaN,NaN
2840,FH JOANNEUM University of Applied Sciences,Kapfenberg,Austria,NaN,NaN
3041,Estonian University of Life Sciences,Tartu,Estonia,NaN,NaN
3123,Sapienza University of Rome,Rome,Italy,NaN,NaN
3125,Amsterdam University of Applied Sciences (AUAS),Amsterdam,Netherlands,NaN,NaN
3127,University College Absalon,Naestved,Denmark,NaN,NaN
3155,INSEAD (Singapore Campus),Singapore,Singapore,NaN,NaN
3327,Rheinland-Pfälzische Technische Universität of...,Kaiserslautern,Germany,NaN,NaN
4287,AFG College with the University of Aberdeen,Doha,Qatar,NaN,NaN
4415,Zhejiang Gongshan University,Hangzhou,China,NaN,NaN
4560,IU International University of Applied Sciences,Berlin,Germany,NaN,NaN
4570,SRH Berlin University of Applied Sciences,Berlin,Germany,NaN,NaN
4582,United Nations Institute for Training and Rese...,Geneva,Switzerland,NaN,NaN
4889,UBFC Graduate School EIPHI,Besancon,France,NaN,NaN
4890,Frankfurt School of Finance and Management,Frankfurt am Main,Germany,NaN,NaN
4918,Luxembourg School of Business,Luxembourg,Luxembourg,NaN,NaN
4923,HTW Berlin - University of Applied Sciences,Berlin,Germany,NaN,NaN
4986,"Van Hall Larenstein, University of Applied Sci...",Velp,Netherlands,NaN,NaN
5081,Pontifica Catholic University of Chile,Santiago,Chile,NaN,NaN
5116,Albert Ludwig University of Freiburg,Freiburg,Germany,NaN,NaN
5119,The University of the Commonwealth Caribbean (...,Kingston,Jamaica,NaN,NaN
5164,Webster Vienna Private University,Vienna,Austria,NaN,NaN
5207,Università di Cassino e del Lazio Meridionale,Cassino,Italy,NaN,NaN
5258,NHH Norwegian School of Economics,Bergen,Norway,NaN,NaN
5268,European School of Political and Social Scienc...,Lille,France,NaN,NaN
5287,Harbour.Space University,Barcelona,Spain,NaN,NaN

In [36]:
country_coords = missing_coords[['country','city']].drop_duplicates().copy()
country_coords

             country               city
28           Germany            Idstein
36           Iceland         Isafjorour
129      Netherlands          Rotterdam
137          Germany            Hamburg
141   United Kingdom             London
188   United Kingdom         Colchester
260           France               Lyon
263          Germany             Berlin
306   United Kingdom             Dundee
310   United Kingdom              Derby
353   United Kingdom            Cardiff
748   United Kingdom          Inverness
1022         Austria           Salzburg
1147     Netherlands          Groningen
1406             NaN                NaN
1829          France             Rennes
1958  United Kingdom              Egham
2429           Italy              Milan
2620           Japan              Beppu
2840         Austria         Kapfenberg
3041         Estonia              Tartu
3123           Italy               Rome
3125     Netherlands          Amsterdam
3127         Denmark           Naestved
3155       Singapore          Singapore
3327         Germany     Kaiserslautern
4287           Qatar               Doha
4415           China           Hangzhou
4582     Switzerland             Geneva
4889          France           Besancon
4890         Germany  Frankfurt am Main
4918      Luxembourg         Luxembourg
4986     Netherlands               Velp
5081           Chile           Santiago
5116         Germany           Freiburg
5119         Jamaica           Kingston
5164         Austria             Vienna
5207           Italy            Cassino
5258          Norway             Bergen
5268          France              Lille
5287           Spain          Barcelona

In [42]:
country_coords

             country               city
28           Germany            Idstein
36           Iceland         Isafjorour
129      Netherlands          Rotterdam
137          Germany            Hamburg
141   United Kingdom             London
188   United Kingdom         Colchester
260           France               Lyon
263          Germany             Berlin
306   United Kingdom             Dundee
310   United Kingdom              Derby
353   United Kingdom            Cardiff
748   United Kingdom          Inverness
1022         Austria           Salzburg
1147     Netherlands          Groningen
1406             NaN                NaN
1829          France             Rennes
1958  United Kingdom              Egham
2429           Italy              Milan
2620           Japan              Beppu
2840         Austria         Kapfenberg
3041         Estonia              Tartu
3123           Italy               Rome
3125     Netherlands          Amsterdam
3127         Denmark           Naestved
3155       Singapore          Singapore
3327         Germany     Kaiserslautern
4287           Qatar               Doha
4415           China           Hangzhou
4582     Switzerland             Geneva
4889          France           Besancon
4890         Germany  Frankfurt am Main
4918      Luxembourg         Luxembourg
4986     Netherlands               Velp
5081           Chile           Santiago
5116         Germany           Freiburg
5119         Jamaica           Kingston
5164         Austria             Vienna
5207           Italy            Cassino
5258          Norway             Bergen
5268          France              Lille
5287           Spain          Barcelona

In [43]:
from geopy.geocoders import Nominatim

# geolocator = Nominatim(user_agent="geoapiExercises")
geolocator = Nominatim(user_agent="gettingCityCoords2")
# from geopy.geocoders import Photon
# geolocator = Photon(user_agent="my-application")


def get_lat_lng(city, country):
   location = geolocator.geocode(f"{city}, {country}")
   if location:
       return location.latitude, location.longitude
   else:
       return None, None

# cities = {
#    1484: {"city": None, "country": None},
#    1520: {"city": "Malmo", "country": "Sweden"},
#    2067: {"city": "Egham", "country": "United Kingdom"},
#    2325: {"city": "Cluj Napoca", "country": "Romania"},
#    2742: {"city": "L Aquila", "country": "Italy"},
#    3286: {"city": "Thessaloniki", "country": "Greece"},
#    3289: {"city": "Naestved", "country": "Denmark"},
#    3290: {"city": "Solna", "country": "Sweden"},
#    3291: {"city": "Zurich", "country": "Switzerland"},
#    3295: {"city": "Saarbrucken", "country": "Germany"},
#    4515: {"city": "Luneburg", "country": "Germany"},
#    4803: {"city": "Gottingen", "country": "Germany"},
#    5130: {"city": "Besancon", "country": "France"},
#    5131: {"city": "Frankfurt am Main", "country": "Germany"},
#    5227: {"city": "Velp", "country": "Netherlands"},
#    5375: {"city": "Blackburg", "country": "USA"},
#    5395: {"city": "Astana", "country": "Kazakstan"},
#    5428: {"city": "Freiburg", "country": "Germany"},
#    5477: {"city": "St Catherines", "country": "Canada"},
# }

for index, row in country_coords.iterrows():
   lat, lng = get_lat_lng(row["city"], row["country"])
   country_coords.loc[index,"lat"] = lat
   country_coords.loc[index,"lng"] = lng
   print(*row)
   # city_info["lat"] = lat
   # city_info["lng"] = lng

Germany Idstein
Iceland Isafjorour
Netherlands Rotterdam
Germany Hamburg
United Kingdom London
United Kingdom Colchester
France Lyon
Germany Berlin
United Kingdom Dundee
United Kingdom Derby
United Kingdom Cardiff
United Kingdom Inverness
Austria Salzburg
Netherlands Groningen
nan nan
France Rennes
United Kingdom Egham
Italy Milan
Japan Beppu
Austria Kapfenberg
Estonia Tartu
Italy Rome
Netherlands Amsterdam
Denmark Naestved
Singapore Singapore
Germany Kaiserslautern
Qatar Doha
China Hangzhou
Switzerland Geneva
France Besancon
Germany Frankfurt am Main
Luxembourg Luxembourg
Netherlands Velp
Chile Santiago
Germany Freiburg
Jamaica Kingston
Austria Vienna
Italy Cassino
Norway Bergen
France Lille
Spain Barcelona

In [17]:
# country_coords.to_csv("country_coords.csv")
country_coords

NameError: name 'country_coords' is not defined

In [52]:
master_df[master_df['city']=='Isafjorour']

                          universityName        city  country
36  University Centre of the West Fjords  Isafjorour  Iceland

In [59]:
i = uni_coords_df[uni_coords_df['universityName']=='University Centre of the West Fjords'].index[0]
uni_coords_df.loc[i,'lat']

nan

In [9]:

uni_coords = pd.read_csv("uni_coords.csv")
uni_coords

NameError: name 'pd' is not defined

In [1]:
import collecting_coords

In [8]:
lat, lng = collecting_coords.get_coordinates_by_uni('University Centre of the West Fjords')
print(lat,lng)

{'University Centre of the West Fjords': (0, 0)}
0
0 0

In [63]:
collecting_coords.lat_lng_by_uni['University Centre of the West Fjords']

(0, 0)

In [64]:
'University Centre of the West Fjords' in collecting_coords.lat_lng_by_uni

True